/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*=============== BASE ===============*/
body,
button,
input,
select {
    font-family: "Poppins", sans-serif;
}

body {
    padding: 5px 25px;
    background-color: antiquewhite;
}

header {
    display: flex;
    justify-content: space-between;
    /* border-bottom: 1px solid grey; */
    position: relative;
    padding: 10px;
}

header::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -5px;
    left: -35px;
    right: -35px;
    border-bottom: 1px solid grey;
}

main {
    display: flex;
    flex-direction: column;
}


/*=============== NAVIGATION ===============*/
.nav__container {
    display: flex;
    align-items: center;
}

.logo__container {
    font-size: 1.5em;
    font-weight: bold;
}

.nav__item {
    border: 1px solid black;
    /* border-radius: 4px;  */
    /* border-collapse: collapse;  */
    display: flex;
    align-items: center; 
    padding: 5px 20px 5px 20px;
    text-decoration: none;
    color: black;
}

.nav__home, .nav__package {
    border-right: none;
}

.nav__home {
    border-radius: 5px 0px 0px 5px;
}

.nav__call {
    border-radius: 0 5px 5px 0;
}

.nav__item:hover {
    background-color: #edf0f4;  /* #edf0f4 */
}

/* !padding hover akan terlihat tidak menyatu jika menggunakan table */
/* .nav__container table {
    border: 1px solid #1a1f26;
    border-collapse: separate;
    border-radius: 5px;
}

.nav__container th {
    border-left: 1px solid #1a1f26;
    padding: 3px 0;
}

.nav__container th:first-child {
    border: none;
}

.nav__container th:hover {
    background-color: grey;
} */



/*=============== HOME ===============*/
    /*=============== TITLE ===============*/
.title__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}


    /*=============== CONTENT ===============*/
.content__container {
    display: flex;
}

.content__left,
.content__right {
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
}

.content__left {        
    box-sizing: border-box;
    width: 70%;
}

.content__right {
    box-sizing: border-box;
    width: 30%;
    background-color: #edf0f4;
    padding: 40px;
    /* border: 1px solid black; */
    border-radius: 5px;
}

.content__image {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.image {
    width: 80%;
    /* height: 80%; */
    border: 1px solid black; /* #edf0f4 */
}

.content__image span {
    color: grey;
    padding-top: 30px;
}

.content__customer {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.customer__name {
    display: flex;
    flex-direction: column;
}


    /*=============== FORM ===============*/
form {
    display: flex;
    flex-direction: column;
}

label {
    color: #3b4754;
    font-weight: bold;
    font-size: 0.9rem;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
    border: none;
    border-radius: 4px;
    background-color: #29323d;
    color: #ffffff;
    padding: 10px 0;
    margin-top: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #1a1f26;
    color: lightgrey;
}

input, select {
    margin-bottom: 10px;
    padding: 12px 8px;
    border: 2px solid #c9d3dd;
    border-radius: 5px;
}

.form__title {
    font-weight: bold;
    color: #29323d;
    /* padding-top: 10px; */
    font-size: 1.1rem;
}

.form__subtitle {
    color: #29323d;
    padding-top: 10px;
    margin-bottom: 50px;
    font-size: .9rem;
}


/*=============== PRODUCT ===============*/
.product__container .circle {
    display: flex;
    justify-content: center;
    background-color: #edf0f4;
    border-radius: 50%;
    width: 1.2em;  
}



/*=============== OUR PACKAGE ===============*/
.section__package .test {
    background-color: black;
    padding: 1000px;
}



/*=============== CALL US ===============*/
.section__call .test {
    background-color: blue;
    padding: 1500px;
}

.test {
    box-sizing: border-box;
    width: 50%;
    margin-top: 100px;
}





